<script type='text/javascript'>
  $(document).ready(function() {
    welcomeController = new WelcomeController();
  });
</script>

<div class='img-container'>
	<!-- <img id='main-image' src='../../assets/IMG_1144.JPG' height='300' width='500'/>
	<div class='welcome-prose'>
		<p id='first-para'>Hey Rob, in anticipation of your hard work, effort, blood, sweat and tears I have created and dedicated this site to you and your cause.</p>
		<p id='second-para'>Recently I've been lucky enough to have had the opportunity to undertake the most incredible tertiary education programme (Enspiral Dev Academy) and believe that everyone should have this chance.</p>
		<p id='third-para'>During this experience I have been following what you are doing to provide the opportunity to free education for those less fortunate than us and was inspired to give something back.</p>
	</div> -->

  <div id="magazine">
    <div>
      <span class="text">
        <p>Hey Rob, in anticipation of your hard work, effort, blood, sweat and tears I have created and dedicated this site to you and your cause.
        </p>
      </span>
    </div>
    <div>
      <span class="text">
        <p id='second-para'>Recently I've been lucky enough to have had the opportunity to undertake the most incredible tertiary education programme (Enspiral Dev Academy) and believe that everyone should have this chance.</p>
      </span>
    </div>
    <div><span class="text"><img id='main-image' src='../../assets/IMG_1144.JPG' height='300px' width='400px'/></span></div>
    <div>
      <span class="text">
        <p id='third-para'>During this experience I have been following what you are doing to provide the opportunity to free education for those less fortunate than us and was inspired to give something back.</p>
      </span>
    </div>
    <div><span class="text"><img id='main-image' src='../../assets/IMG_1144.JPG' height='300' width='500'/></span></div>
</div>

</div>

