<script type='text/javascript'>
  $(document).ready(function() {
    welcomeController = new WelcomeController();
  });
</script>

<div id="magazine">
  <div>
    <span class="text">
      <p id='first-para'>For Rob,<br> In anticipation of your Te Araroa adventure I have created and dedicated this site to you and the charities you are raising money for.
      </p>
    </span>
  </div>

  <div>
    <span class="text">
      <p id='second-para'>Recently I have had the opportunity to undertake the most incredible tertiary education programme (<a href="http://devacademy.co.nz/">Enspiral Dev Academy</a>) and believe that everyone should have the chance of an education.</p>
    </span>
  </div>
  <div>
    <span class="text">
      <img id='main-image' src='../../assets/IMG_1144.JPG' height='300px' width='400px'/>
    </span>
  </div>

  <div>
    <span class="text">
      <p id='third-para'>During this experience I have been following your mission to provide the opportunity to free education for those less fortunate than us and was inspired to give something back.</p>
    </span>
  </div>
  

  <div>
    <span class="text">
      <p id='fourth-para'>So I have decided to donate my first weeks wage from the job I have secured through my access to an education system to your two charities <a href= 'http://www.peoplecharity.org/'>People Charity</a> and <a href='http://www.raleighinternational.org/'>Raleigh International</a>.</p>
    </span>
  </div>

  <div>
    <span class="text">
      <img id='cape-reinga' src='../../assets/te_araroa.jpg' height='500px'/>
    </span>
  </div>
  <div>
    <span class="text">
      <p id='last-para'>Good luck on your 3000km adventure and I'll see you on the other side!</p>
    </span>
  </div>


</div>


